@use "variables" as *
@use "sass:map"
@mixin flex($direction : row,$wrap: wrap,$justify:center,$align:center)
    display: flex
    flex-flow: $direction $wrap
    justify-content: $justify
    align-items: $align

@mixin center()
    display: grid
    place-items: center

@mixin selected()
    border-color: map.get($primary-colors,'marine_blue')
    background-color: map.get($neutral-colors,'magnolia')


