@use "sass:map"
@use "mixins" as mx
@use "variables" as *
// 2. MAIN STYLES
.step1
    &__fields
        @include mx.flex(column,wrap,space-around,start)
        gap:1rem
        &__container
            width:100%
        &__input
            width: 100%
            padding: .7rem .5rem
            border: 1px solid map.get($neutral-colors,'light_gray')
            border-radius: 5px
            &:focus
                outline: 1px solid map.get($primary-colors,'marine_blue')
        &__req
            margin-bottom:0
            font:
                family: 'Ubuntu',sans-serif
                weight: 500
.invalid_input:invalid
    outline:1px solid map.get($primary-colors,'strawberry_red')