@use "sass:map"
@use "mixins" as mx
//1. VARIABLES
//1.1 COLORS
$primary-colors :("marine_blue":hsl(213, 96%, 18%),"purplish_blue":hsl(243, 100%, 62%),"pastel_blue":hsl(228, 100%, 84%),"light_blue":hsl(206, 94%, 87%),"strawberry_red": hsl(354, 84%, 57%))
$neutral-colors:("cool_gray":hsl(231, 11%, 63%),"light_gray": hsl(229, 24%, 87%),"magnolia":hsl(217, 100%, 97%),"alabaster":hsl(231, 100%, 99%),"white":hsl(0, 0%, 100%))


//4.CSS RESET
*,*::after,*::before
    box-sizing: border-box
body
    width: 100vw
    min-height: 100vh
    margin:0
    padding: 0
    background-color: map.get($neutral-colors,"magnolia")
p,input,a,button,h1,h2,h3
    font-family: 'Ubuntu',sans-serif
button
    background: none
    border: none
input
    border: none
    outline: none

// 3. UTILITY CLASSES
.subtitle
    font:
        size: 1em
        weight: 500
    color: map.get($neutral-colors,'cool_gray')
.label
    font:
        size: .9
        weight: 400
    color: map.get($primary-colors,'marine_blue')

.placeholder
    font-weight: 700
    color: map.get($neutral-colors,'cool_gray')
.button
    font-weight: 500
.rounded
    border-radius: 10px
.hidden
    visibility: hidden

//4. MAIN STYLES

.main
    @include mx.flex($align: top)
    position: relative
    width: 100%
    height:100vh
    z-index:0
.content
    @include mx.flex()
    width: 90%
    margin-top: 6rem
.step

    width:100%
    padding:1rem 2rem 2rem
    background-color: map.get($neutral-colors,'white')
    &__form
        @include mx.flex(column,wrap,start,start)
        gap:1.5rem
        &__input
            width: 100%
            padding:.5rem
            border: 1px solid map.get($neutral-colors,'light_gray')
            border-radius: 3px
            &:focus
                outline: 1px solid map.get($primary-colors,'marine_blue')
        &__req
            margin-bottom:0
            font:
                family: 'Ubuntu',sans-serif
                weight: 500
.invalid_input:invalid
    outline:1px solid map.get($primary-colors,'strawberry_red')
            
.sidenav
    @include mx.flex($justify:space-around,$align:top)
    position: absolute
    top:0
    width:100%
    height: 10rem
    order: -1
    z-index:-1
    background: url('../multi-step-form-main/assets/images/bg-sidebar-mobile.svg')
.stepside
    margin-top: 2rem
    &__num
        @include mx.center()
        width:2.5rem
        height:2.5rem
        border: 1px solid map.get($neutral-colors,'light_gray')
        border-radius: 50%
        font-weight: bold
        color: map.get($neutral-colors,'white')
        transition: background .3s
        &:hover
            background-color: map.get($primary-colors,'light_blue')
            color: #000
    &__which,&__name
        display: none

.footer
    @include mx.flex($justify:space-between)
    width:100%
    padding:2rem
    margin-top: auto 
    background-color: map.get($neutral-colors,'white')

.next
    padding:.5rem 1rem
    border-radius: 5px
    background-color: map.get($primary-colors,'marine_blue')
    color: map.get($neutral-colors,'white')
    transition: opacity .3s
    &:hover
        opacity: .9